main.aux
main.fdb_latexmk
main.fls
main.out
main.log
main.toc
main.synctex.gz
main.synctex(busy)
.DS_Store
pdflatex1181.fls
pdflatex925.fls
.vscode/settings.json
Chapters/applicationsOfDifferentiation.aux
Chapters/differentiationRules.aux
Chapters/functionsAndModels.aux
Chapters/integrals.aux
Chapters/limitsAndDerivatives.aux
Chapters/preface.aux
main.dvi
